body {
  background-color: rgb(32, 63, 88);
}

.cell {
  width: 50px;
  height: 50px;
}

.cell-hovered {
  background-color: #f0f8ffd3;
  cursor: pointer;
}

.axis-btn {
  cursor: pointer;
}

.ship-cell {
  background-color: lightgreen;
}

.illegal-cell {
  cursor: not-allowed;
  background-color: lightcoral;
}

.board {
  width: calc(50px * 10);
  border: 2px solid white;
}

.cell + .cell {
  border-left: 2px solid white;
}

.row + .row {
  border-top: 2px solid white;
}

.row {
  display: flex;
}
