/* ### GENERAL ### */

body {
  background-color: rgb(32, 63, 88);
  color: gainsboro;
}

h1,
h2 {
  text-align: center;
}

/* ### HOME PAGE ### */

form {
  width: 70%;
  min-width: 300px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

label {
  font-size: 1.35rem;
}

input {
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
}

form button {
  padding: 1rem 1.5rem;
  font-size: 1.235rem;
  text-transform: uppercase;
}

/* ### UTILITY CLASSES ### */

.cell-hovered {
  background-color: #f0f8ffd3;
  cursor: pointer;
}

.ship-cell {
  background-color: lightgreen;
}

.illegal-cell {
  cursor: not-allowed;
  background-color: lightcoral;
}

.water-indicator {
  --bg: white;
}

.hit-indicator {
  --bg: red;
}

/* ### GAMEBOARD ### */

.axis-btn {
  cursor: pointer;
}

.board {
  width: calc(50px * 10);
  border: 2px solid white;
}

.cell {
  width: 50px;
  height: 50px;
  position: relative;
}

.cell + .cell {
  border-left: 2px solid white;
}

.row + .row {
  border-top: 2px solid white;
}

.row {
  display: flex;
}

.indicator {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  border-radius: 200px;
  background-color: var(--bg, white);
}

.boards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.report-display {
  border-radius: 0.8rem;
  max-width: 80%;
  margin-inline: auto;
  background-color: darkgray;
  padding: 1rem 1.5rem;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}
