/* ### GENERAL ### */

body {
  background-color: rgb(32, 63, 88);
  color: gainsboro;
}

/* ### UTILITY CLASSES ### */

.cell-hovered {
  background-color: #f0f8ffd3;
  cursor: pointer;
}

.ship-cell {
  background-color: lightgreen;
}

.illegal-cell {
  cursor: not-allowed;
  background-color: lightcoral;
}

.water-indicator {
  --bg: white;
}

.hit-indicator {
  --bg: red;
}

/* ### GAMEBOARD ### */

.axis-btn {
  cursor: pointer;
}

.board {
  width: calc(50px * 10);
  border: 2px solid white;
}

.cell {
  width: 50px;
  height: 50px;
  position: relative;
}

.cell + .cell {
  border-left: 2px solid white;
}

.row + .row {
  border-top: 2px solid white;
}

.row {
  display: flex;
}

.indicator {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  border-radius: 200px;
  background-color: var(--bg, white);
}

.boards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
